img{
    height: 40px;
    width: 40px;
}

body{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    align-items: flex-start;
    background-color: #f5d0df;
}

table{
    border-collapse: collapse;

    background-color: white;
}

th, td{
    border: 1px solid #c2185b;
    padding: 10px 20px;
    text-align: center;
}

th{
    background-color: #c2185b;
    color: white;
}

tr:nth-child(even){
    background-color: #ffe4ec;
}


